@model   MyBlog.PresentationLayer.Areas.Writer.Models.UserEditViewModel

@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}

<div class="main-panel">
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Kullanıcı Profil Sayfası</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Blog Listem</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Yeni Blog </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Profil Bilgileri Güncelleme Sayfası</h4>
                    <p class="card-description">Aşağıdaki Alanaları Eksiksiz Olarak Doldurunuz.</p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label >Adınız</label>
                            <input type="text" class="form-control" asp-for="Name" />
                        </div>
                        <div class="form-group">
                            <label >Soyadınız</label>
                            <input type="text" class="form-control" asp-for="SurName"/>
                        </div>

                        <div class="form-group">
                            <label >Kullancı Adınız</label>
                            <input type="text" class="form-control" asp-for="UserName"/>
                        </div>

                        <div class="form-group">
                            <label >Email Adresiniz</label>
                            <input type="text" class="form-control" asp-for="Email"/>
                        </div>
                        <div class="form-group">
                            <label >Şehir bilginiz</label>
                            <input type="text" class="form-control" asp-for="City"/>
                        </div>
                        <div class="form-group">
                            <label >Fotografınız</label>
                           <input type="file" asp-for="Image" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label >Telefon Numaraınz</label>
                            <input type="text" class="form-control" asp-for="Phonenumber"/>
                        </div>
                        <div class="form-group">
                            <label >Şifreniz</label>
                            <input type="password" class="form-control" asp-for="Password"/>
                        </div>

                     
                        <button type="submit" class="btn btn-primary mr-2"> Kaydet </button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

</div>