@model MyBlog.EntityLayer.Concrete.Category

@{
    Layout = null;
}
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br/>
        <label hidden="@Model.CategoryId" ></label>
        <h2>Kategori</h2>
        <input type="text" class="form-control" asp-for="CategoryName"/>
        <button class="btn btn-outline-success">Kaydet</button>
    </div>
</form>