@model dynamic

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
    <br/><br/>
    <h2>HoşGeldiniz:@ViewBag.name @ViewBag.surname </h2>
    <h3>Id numaranız=@ViewBag.id</h3>
</div>