<div class="sidebar__about__item">
    <div class="sidebar__item__title">
        <h6>Hakkımızda</h6>
    </div>
    <img src="/foodeiblog-master/img/sidebar/sidebar-about.jpg" alt="">
    <h6>Merhaba Herkese,! Ben <span>Yasin Yaman</span></h6>
    <p>
       Birbirinden keyifli konularda sizler için alanında yetkin ekip arkadaşlarımzla blog yazmaya devam ediyoruz. İyi okumalar dileriz.
    </p>
    <a href="#" class="primary-btn">Daha Fazlasını Gör</a>
</div>