<div class="footer__copyright">
    <p>
        
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | Yasin YAMAN <i class="fa fa-heart" aria-hidden="true"></i> 
       
    </p>
</div>